* {
	box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
   background-image: url(img/career.jpg);
  	
}
h1 {
	font-size: 1.5em;
}
.container {
	margin: 0;
	padding: 0;
	width: 100%;
}
.wrappered {
    min-height: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.both {
    content: '';
    clear: both;
}
nav {
	margin-top: 10px;
	width: auto;
}
.rowed {
    margin: 0 auto;
}
/*
nav  li:first-child{
    padding-top: 20px;
}*/
.navigation {
   height: auto;
}
.content {
    opacity: 0.8;
    background: green;
    min-height: 294px;
    height: auto;
    color: black;
}
footer {
    width: 100%;
    margin: 0;
}
.footer {
    background: black;
    width: 100%;
    min-height: 62px;
    height: auto;
    padding-top: 15px;
}

/*MENU VERTICAL STYLE*/
.mini-menu{
    margin: 0 auto;
    max-width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    overflow: hidden;
    font: normal 14px Helvetica, Arial, sans-serif;
}
.mini-menu ul {
    list-style: none;
    margin: 0;
    padding:0;
    text-align:left;
}
.mini-menu > ul > li {
    position: relative;
}
.mini-menu > ul > li > a {
    display: block;	
    outline: 0;	
    padding: .7em 1em;	
    text-decoration: none;	
    color:#C9C9C9;	
    font-weight: normal;	
    text-shadow: 1px 1px 3px #111;	
    background: green;
    border-bottom: 1px solid #222;
    box-shadow:inset 0 1px 0 0 rgba(250,250,250,0.1);
}
.mini-menu > ul > li > a:hover,
.mini-menu > ul > li > a.active {
    color:#f2bd00;
}
.mini-menu .sub > ul {
    counter-reset: items;
    height: 0;
    overflow: hidden;
    background: #eee;
    box-shadow:inset 0 0 50px #bbb;
}
.mini-menu .sub > ul > li > a {
    counter-increment: items;
    color:#514b92;
    font-size: 12px;
    display: block;
    text-decoration: none;
    padding: .7em 1em;
    border-bottom: 1px dotted #bababa;
}
.mini-menu .sub > ul > li > a:hover,
.mini-menu .sub > ul > li > a.active {
    background: #d8d8d8;
    color: red;
    padding-left: 1.3em;
}
/*
.mini-menu .sub > ul > li > a:after{
    content: "-";
    float: left;
    margin-right:6px;
    line-height: 12px;
}
*/
.mini-menu .sub > ul:after {
    content: counter(items);
    font-size: 1em;
    display:inline-block;
    position: absolute;
    right: 10px;
    top: 6px;
    background: #333;
    line-height: 1em;
    padding: .5em .7em;
    color: #c9c9c9;
    text-indent: 0;
    text-align: center;
    text-shadow:0px 1px 0px rgba(0, 0, 0, .5);
    font-size: 0.8em;
    font-weight: 500;
    border-radius:25%;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
}

/*END*/
